--- 
layout: default 
---
<!-- Begin text carousel intro section -->
<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url({{site.dir}}/img/slider-bg.jpg);">
    <div class="container">
        <div class="caption text-center text-white" data-stellar-ratio="0.7">
            <div id="owl-intro-text" class="owl-carousel">
                <div class="item">
                    <h1>Hi! I'm Aibol</h1>
                    <p><span class="my-typed"></span></p>
                    <div class="extra-space-l"></div>
                    <a class="btn btn-blank page-scroll" href="#services-section" role="button">View More!</a>
                </div>	
            </div>
        </div>
        <!-- /.caption -->
    </div>
    <!-- /.container -->
</section>
<!-- End text carousel intro section -->
<!-- Begin Services -->
<section id="services-section" class="page text-center">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>My skills</h2>
                <div class="devider"></div>
                <p class="subtitle">what I really know how</p>
            </div>
        </div>
    </div>
    <!-- End page header-->
    <!-- Begin roatet box-2 -->
    <div class="rotate-box-2-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>
                        <div class="rotate-box-info">
                            <h4>Android Development</h4>
                            <p>I have enough experience in Android Development to build next Instagram</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-pie-chart"></i></span>
                        <div class="rotate-box-info">
                            <h4>Ui Design</h4>
                            <p>Design is my hobby and I like to apply new trends of design in my apps</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
                        <div class="rotate-box-info">
                            <h4>Graphic Design</h4>
                            <p>As I said, it is my hobby to create beautiful original things those grab attention</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                        <span class="rotate-box-icon"><i class="fa fa-code"></i></span>
                        <div class="rotate-box-info">
                            <h4>Web Development</h4>
                            <p>Mainly I do Front end development using new stack of technologies</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="container">
            <!-- Cta Button -->
            <div class="extra-space-l"></div>
            <div class="text-center">
                <a class="btn btn-default btn-lg-xl page-scroll" href="#portfolio-section" role="button">See Projects</a>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- End rotate-box-2 -->
</section>
<!-- End Services -->
<!-- Begin Portfolio -->
<section id="portfolio-section" class="page bg-style1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio">
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>My projects</h2>
                                <div class="devider"></div>
                                <p class="subtitle">what I am proud of</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="portfoloi_content_area">
                        <div class="portfolio_menu" id="filters">
                            <ul>
                                <li class="active_prot_menu"><a href="#porfolio_menu" data-filter="*">all</a></li>
                                <li><a href="#porfolio_menu" data-filter=".websites">websites</a></li>
                                <li><a href="#porfolio_menu" data-filter=".UiDesign">Ui Design</a></li>
                                <li><a href="#porfolio_menu" data-filter=".appsDevelopment">apps development</a></li>
                                <li><a href="#porfolio_menu" data-filter=".GraphicDesign">graphic design</a></li>
                                <li><a href="#porfolio_menu" data-filter=".others">Others</a></li>
                            </ul>
                        </div>
                        <div class="portfolio_content">
                            <div class="row" id="portfolio">
                                {% assign projects = site.posts | where:'category', 'project' %}
                                {% for project in projects %}
                                    {% include project-item.html %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End portfolio -->
<!-- Begin counter up -->
<section id="counter-section">
    <div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url({{site.dir}}/img/counter-bg.jpg);">
        <div class="cover"></div>
        <!-- Begin page header-->
        <div class="page-header-wrapper">
            <div class="container">
                <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                    <h2>I am social</h2>
                    <div class="devider"></div>
                    <p class="subtitle">Follow me on social networks</p>
                </div>
            </div>
        </div>
        <!-- End page header-->
        <div class="container">
            <ul class="social-list">
                {% for link in site.data.social_links %}
                <li><a href="{{link.url}}" target="_blank" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span
                            style="background-color: transparent;" class="rotate-box-icon"><i
                            class="fa {{link.icon}}"></i></span></a></li>
                {% endfor %}
                <!-- <li><a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span
                            style="background-color: transparent;" class="rotate-box-icon"><i
                            class="fa fa-facebook"></i></span></a></li>
                <li><a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span
                            style="background-color: transparent;" class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a>
                </li>
                <li><a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span
                            style="background-color: transparent;" class="rotate-box-icon"><i
                            class="fa fa-google-plus"></i></span></a></li> -->
            </ul>
        </div>
    </div>
</section>
<!-- End counter up -->
<!-- Begin blog section -->
<section id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog">
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>My blog</h2>
                                <div class="devider"></div>
                                <p class="subtitle">also I write tech blog</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="blog-wrapper">
                        <div class="container">
                            <div class="row">
                                {% assign posts = site.posts | where:'category', 'blog' %}
                                {% for post in posts limit: 3 %}
                                    {% include post-item.html %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <!-- Cta Button -->
                        <div class="extra-space-l"></div>
                        <div class="text-center">
                            <a class="btn btn-default btn-lg-xl" href="/blog" role="button">Read my blog</a>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End blog section -->
<!-- Begin contact section -->
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url({{site.dir}}/img/map-bg.jpg);">
    <div class="cover"></div>
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Contact me</h2>
                <div class="devider"></div>
                <p class="subtitle">need my help? feel free to contact me</p>
            </div>
        </div>
    </div>
    <!-- End page header-->
    <div class="contact wow bounceInRight" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-info">
                        <h4>My Location</h4>
                        <ul class="contact-address">
                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; Sayran District, 9
                                <br>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Almaty, Kazakhstan, 050000
                            </li>
                            <li><i class="fa fa-phone"></i>&nbsp; +7 (702) 424 64 92</li>
                            <li><i class="fa fa-envelope"></i> kairkanuly@gmail.com</li>
                            <li><i class="fa fa-skype"></i> aybol.kk</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="contact-form">
                        <h4>Write to us</h4>
                        <form role="form" action="https://formspree.io/aibolikdev@gmail.com" method="POST">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control input-lg" placeholder="Your Name" required>
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" class="form-control input-lg" placeholder="E-mail" required>
                            </div>
                            <div class="form-group">
                                <input name="subject" type="text" class="form-control input-lg" placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea name="message" class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</section>
<!-- End contact section -->
