<!-- Plugins JS -->
<script src="{{site.dir}}/inc/jquery/jquery-1.11.1.min.js"></script>
<script src="{{site.dir}}/inc/bootstrap/js/bootstrap.min.js"></script>
<script src="{{site.dir}}/inc/owl-carousel/js/owl.carousel.min.js"></script>
<script src="{{site.dir}}/inc/stellar/js/jquery.stellar.min.js"></script>
<script src="{{site.dir}}/inc/animations/js/wow.min.js"></script>
<script src="{{site.dir}}/inc/waypoints.min.js"></script>
<script src="{{site.dir}}/inc/isotope.pkgd.min.js"></script>
<script src="{{site.dir}}/inc/classie.js"></script>
<script src="{{site.dir}}/inc/jquery.easing.min.js"></script>
<script src="{{site.dir}}/inc/jquery.counterup.min.js"></script>
<script src="{{site.dir}}/inc/smoothscroll.js"></script>
<script src="{{site.dir}}/inc/typed.js"></script>

<!-- Theme JS -->
<script src="{{site.dir}}/js/theme.js"></script>