<div class="col-md-12 blog-item">
    <article class="post card container">
        <div class="post-header">
            <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4> 
            <span class="post-meta"> <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time> <span class="post-author">by {{ site.author.name }}</span> </span>
            </header>
            <div class="post-content">{{ post.content | strip_html | truncatewords: 70 }}
            	<br />
             	<a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Read more »</a> 
             </div>
	</article>
</div>
