<div class="social-icons">
  <ul class="text-left">
  	<li onclick="yaCounter36580225.reachGoal('account-github');"><a id="account-github" href="{{ site.author.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
    <li onclick="yaCounter36580225.reachGoal('account-fb');"><a id="account-fb" href="{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li onclick="yaCounter36580225.reachGoal('account-twitter');"><a id="account-twitter" href="{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li onclick="yaCounter36580225.reachGoal('account-instagram');"><a id="account-instagram" href="{{ site.author.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>
