<div class="social-icons">
  <ul class="text-left">
  	<li><a id="account-github" href="{{ site.author.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a id="account-fb" href="{{ site.author.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a id="account-twitter" href="{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a id="account-instagram" href="{{ site.author.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>
