<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head-blog.html %}

<body data-spy="scroll" data-target="#main-navbar" style="background-color: #ebebeb;">
    <div class="page-loader"></div>
    <!-- Display loading image while page loads -->
    <div class="body">
        {% include header-blog.html %}


<div class="blog-item blog-post container" style="margin-top: 120px;">
        <article class="post card">
            <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
                <span class="post-meta">
      <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      <span class="post-author">by {{ site.author.name }}</span>
                </span>
            </header>
            <div class="post-content">
                {{ content }}
            </div>
        </article>
        </div>


        {% include footer.html %}
    </div>
    {% include plugins.html %}
</body>

</html>
